<div id="page_wrapper">
    <div id= "profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    
    <div id="content">
        <h1>Tumblr</h1>
        <p>  Allows users to create posts that other people can comment on, 
        but at the same time also have the option of displaying personal information . 
        It was made in Ruby on Rails and styled using custom styling. 
        Users have the ability to create, read, update or destroy their posts.</p>
    </div>
</div>