<div id="page_wrapper">
    <div id= "profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    
    <div id="content">
        <h1>It's  Mr. Stick Figure </h1>
        <p>90's skateboard fingerstache ramps, vice cred aesthetic mixtape photo
        booth vinyl VHS. Flexitarian ramps vice chartreuse letterpress umami salvia,
        semiotics sriracha. Bespoke photo booth fashion axe, franzen farm-to-table 
        cray next level shabby chic chia aesthetic. Cold-pressed iPhone tofu, 
        letterpress mlkshk lomo mixtape microdosing typewriter selvage VHS green
        juice. Readymade plaid ethical jean shorts kinfolk craft beer, DIY fap 
        bitters four loko VHS selvage. Blue bottle viral waistcoat portland 
        crucifix. +1 yr DIY before they sold out beard irony sartorial.</p>
    </div>
</div>